@import "autoText.scss";

@mixin profils() {
    .profil {
        display: flex;
        margin: 70px 0px 0px 70px;
        width: 820px;
        height: 500px;
        // border: 1px solid red;
        margin-bottom: 7rem;
        .containerProfil {
            display: flex;
            flex-direction: column;
            align-items: end;
            .bg-profil {
                display: block;
                width: 820px;
                height: 120px;
                background: #00cdd4;
                border-bottom: 2px solid black;
                border-right: 2px solid black;
                border-radius: 11px;
                box-sizing: border-box;
                padding: 8px 1rem;
                p {
                    width: 580px;
                    font-size: 16px;
                    color: #222;
                    // font-variant: small-caps;
                    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
            .isi-profil {
                display: flex;
                width: 820px;
                height: 80px;
                justify-content: space-around;
                .isi-kiri {
                    margin-top: -32px;
                    // margin-left: -1px;
                    color: black;
                    width: 540px;
                    // border: 1px solid red;
                    ul {
                        display: flex;
                        // width: 600px;
                        justify-content: start;
                        flex-direction: row;
                        list-style: none;
                        li {
                            border-radius: 15px 15px 15px 15px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 180px;
                            height: 50px;
                            box-sizing: border-box;
                            border: 5px solid #222;
                            border-top: 10px solid #222;
                            p {
                                color: white;
                                font-size: 14px;
                            }
                        }
                    }
                }
                .isi-tengah {
                    background-image: url(../assets/img/GS.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-top: -100px;
                    margin-bottom: 12px;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    border: 6px solid #222;
                    box-sizing: border-box;
                    // background: #2c3333;
                }
                .isi-kanan {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: bold;
                    color: white;
                    h2,
                    p {
                        text-shadow: 1px 1px 2px black;
                    }
                }
            }
        }

        @include autoTexts();
    }
}
