@mixin sertifikats() {
    .sertifikat {
        max-width: 1200px;
        height: auto;
        padding-left: 70px;
        padding-right: 70px;
        margin-top: 2rem;
        // border: 1px solid red;
        // background: #222;
        overflow: hidden;
        // background: #555;

        .sertifikat-readmore {
            margin-bottom: 1rem;
            height: 25px;
            width: 200px;
            border-radius: 15px;
            font-weight: 700;
            cursor: pointer;
            transition: 0.3s background ease-in-out;
            &:hover {
                background-color: aqua;
            }
        }

        .containerSertifikatLeft {
            display: flex;
            flex-wrap: wrap;
            max-width: 1200px;
            height: auto;
            // background: #0d7377;
            margin-bottom: 3rem;
            .imageSertifikat {
                width: 500px;
                height: 300px;
                background: #222;
                overflow: hidden;
                border-radius: 10px 0px 0px 10px;
                border-bottom: 2px solid black;
                img {
                    width: 500px;
                    height: 300px;
                }
            }
            .isiSertifikat {
                display: flex;
                flex-direction: row;
                width: 450px;
                height: 300px;
                background: #2c3333;
                color: white;
                border-radius: 0 10px 10px 0;
                border-bottom: 2px solid black;
                border-right: 2px solid black;
                .isiType {
                    width: 120px;
                    height: 100%;
                    box-sizing: border-box;
                    padding-left: 6px;
                    font-weight: bold;
                    font-size: 15px;
                    ul {
                        list-style: none;
                        li {
                            &:nth-child(1) {
                                display: block;
                                margin-top: 10px;
                                width: 100px;
                                height: 20px;
                            }
                            &:nth-child(2) {
                                display: block;
                                margin-top: 10px;
                                width: 100px;
                                height: 120px;
                            }
                            &:nth-child(3) {
                                display: block;
                                margin-top: 10px;
                                width: 100px;
                                height: 120px;
                            }
                        }
                    }
                }
                .isiDeskripsi {
                    width: 300px;
                    height: 100%;
                    box-sizing: border-box;
                    padding: 0 15px 0 15px;
                    border-left: 5px solid #222;
                    font-size: 13px;
                    font-family: Arial, Helvetica, sans-serif;
                    // border: 1px solid red;

                    ul {
                        list-style: none;
                        li {
                            &:nth-child(1) {
                                display: block;
                                margin-top: 10px;
                                width: 300px;
                                height: 20px;
                            }
                            &:nth-child(2) {
                                display: block;
                                margin-top: 10px;
                                width: 300px;
                                height: 120px;
                            }
                            &:nth-child(3) {
                                display: block;
                                margin-top: 10px;
                                width: 300px;
                                height: 120px;
                            }
                        }
                    }
                }
            }
        }
        .containerSertifikatRight {
            display: flex;
            justify-content: end;
            flex-wrap: wrap;
            max-width: 1200px;
            height: auto;
            // background: #0d7377;
            margin-bottom: 3rem;
            .imageSertifikat {
                width: 500px;
                height: 300px;
                background: #222;
                overflow: hidden;
                border-radius: 0px 10px 10px 0px;
                border-bottom: 2px solid black;
                border-right: 2px solid black;
                img {
                    width: 500px;
                    height: 300px;
                }
            }
            .isiSertifikat {
                display: flex;
                flex-direction: row;
                width: 450px;
                height: 300px;
                // background: #0d7377;
                background: #2c3333;
                border-radius: 10px 0px 0px 10px;
                border-bottom: 2px solid black;
                color: white;
                .isiType {
                    width: 120px;
                    height: 100%;
                    box-sizing: border-box;
                    padding-left: 6px;
                    font-weight: bold;
                    font-size: 15px;
                    color: white;
                    text-shadow: 1px 1px 2px black;
                    ul {
                        list-style: none;
                        li {
                            &:nth-child(1) {
                                display: block;
                                margin-top: 10px;
                                width: 100px;
                                height: 20px;
                            }
                            &:nth-child(2) {
                                display: block;
                                margin-top: 10px;
                                width: 100px;
                                height: 120px;
                            }
                            &:nth-child(3) {
                                display: block;
                                margin-top: 10px;
                                width: 100px;
                                height: 120px;
                            }
                        }
                    }
                }
                .isiDeskripsi {
                    width: 300px;
                    height: 100%;
                    box-sizing: border-box;
                    padding: 0 15px 0 15px;
                    border-left: 5px solid #222;
                    font-size: 13px;
                    text-shadow: 0px 0px 2px black;
                    font-family: Arial, Helvetica, sans-serif;

                    // border: 1px solid red;

                    ul {
                        list-style: none;
                        li {
                            &:nth-child(1) {
                                display: block;
                                margin-top: 10px;
                                width: 300px;
                                height: 20px;
                            }
                            &:nth-child(2) {
                                display: block;
                                margin-top: 10px;
                                width: 300px;
                                height: 120px;
                            }
                            &:nth-child(3) {
                                display: block;
                                margin-top: 10px;
                                width: 300px;
                                height: 120px;
                            }
                        }
                    }
                }
            }
        }
    }
}
