@mixin sertifikatCards() {
    .content {
        position: relative;
        margin-top: 8rem;
        margin-bottom: 4rem;
        max-width: 900px;
        height: 300px;
        // background: #2c3333;
        box-sizing: border-box;
        padding-left: 70px;
        // border: 1px solid red;
        &::before {
            content: "";
            width: 30px;
            height: 30px;
            background: #222;
            display: block;
            position: absolute;
            right: 15px;
            top: 120px;
            transform: rotate(45deg);
            border-radius: 0px 0px 0px 100px;
        }
        .bg-card {
            background: #2c3333;
            border-radius: 10px;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            .kotak {
                display: flex;
                max-width: 800px;
                padding-right: 28px;
                height: 275px;
                text-align: center;
                align-items: center;
                justify-content: space-between;
                // border: 1px solid red;
                border-radius: 10px;
                background: transparent;
                .detail-isi {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    width: 300px;
                    height: 300px;
                    box-sizing: border-box;
                    padding: 1rem 10px;
                    h1 {
                        display: block;
                        margin-top: 1rem;
                        margin-bottom: 2rem;
                        padding-bottom: 1rem;
                        border-bottom: 5px solid #0d7377;
                        color: #cbe4de;
                    }
                    p {
                        font-size: 12px;
                        border-bottom: 5px solid #0d7377;
                        padding-bottom: 2rem;
                        color: #cbe4de;
                    }
                    .icon {
                        margin-top: 1rem;
                        color: #cbe4de;
                    }
                }
                .kotak-isi {
                    display: flex;
                    position: relative;
                    align-items: center;
                    border-left: 10px solid #00cdd4;
                    border-right: 10px solid #00cdd4;
                    background: #222;
                    border-radius: 100px;
                    width: 750px;
                    height: 350px;
                    padding-left: 10px;
                    box-sizing: border-box;
                    color: white;
                    overflow: auto;
                    &::-webkit-scrollbar {
                        height: 6px;
                    }

                    &::-webkit-scrollbar-track {
                        background: transparent;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: transparent;
                        border-radius: 8px;
                    }
                    .kotak-card-isi {
                        // position: relative;
                        width: 130px;
                        height: auto;
                        // border: 1px solid red;
                        transition: all 0.3s ease-in-out;
                        color: black;
                        .card-isi {
                            width: 250px;
                            height: 270px;
                            // border: 1px solid aqua;
                            background-color: white;
                            opacity: 1;
                            // border-radius: 2px;
                            border-top: 7px solid #888;
                            border-left: 7px solid #999;
                            border-bottom: 7px solid #333;
                            border-right: 7px solid #333;
                            border: inset 10px solid black;
                            box-shadow: -25px 0px 15px -20px black,
                                2px 2px 5px black, inset 0px 0px 0px 1px black;
                            transform: translateY(0px);
                            transition: all 0.2s ease-in-out;
                        }
                        &:hover {
                            width: 250px;
                            transform: rotate(5deg);
                        }
                        &:hover .card-isi {
                            background-color: #2c3333;
                            color: #cbe4de;
                            transform: translateY(-10px);
                        }
                    }
                }
            }
        }
    }
}
